table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

button {
  margin-right: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
}
.locked {
  opacity: 0.6;
  pointer-events: none;
}

.locked-indicator {
  font-size: 12px;
  color: red;
  margin-left: 5px;
}
