form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 5px;
}

button {
  margin-top: 10px;
}